<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <title>El tiempo en Vilaflor</title>
    <script src="reloj.js"></script>
    <script src="./main.js"></script>
    <script src="./skycons.js"></script>
</head>
<body onload="mueveReloj()" id="body">
    <div class="location">
        <h1 class="location-timezone">Vilaflor de Chasna</h1>
    </div>
    <form name="form_reloj">
        <input type="text" name="reloj" size="10" class="reloj">
    </form>
    <div class="temperature">
        <div class="degree-section">
            <h2 class="temperature-degree">-</h2>
            <span> °G</span>
        </div>
        <canvas class="icon" width="128" height="128"></canvas>
    </div>
    <div class="wind-speed">
        <h3 class="wind-speed-data">-</h3>
        <span>Nudos</span>
    </div>
    <input type="range" min="-2" max="36" step="1" value="1" id="slider">
</body>
</html>
