<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <title>El tiempo en Granadilla</title>
</head>
<body onload="mueveReloj()">
    <form name="form_reloj">
        <input type="text" name="reloj" size="10">
    </form>
    <div class="location">
        <h1 class="location-timezone">El Médano</h1>
    </div>
    <div class="temperature">
        <div class="degree-section">
            <h2 class="temperature-degree">-</h2>
            <span> °G</span>
        </div>
        <canvas class="icon" width="128" height="128"></canvas>
    </div>
    <div class="wind-speed">
        <h3 class="wind-speed-data">-</h3>
        <span>Nudos</span>
    </div>

    <script language="JavaScript">
        function mueveReloj(){
            momentoActual = new Date()
            hora = momentoActual.getHours()
            minuto = momentoActual.getMinutes()
            segundo = momentoActual.getSeconds()
        
            horaImprimible = hora + " : " + minuto + " : " + segundo
        
            document.form_reloj.reloj.value = horaImprimible
        
            setTimeout("mueveReloj()",1000)
        }
    </script>
    <script src="./main.js"></script>
    <script src="./skycons.js"></script>
</body>
</html>
